* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;

}

body {

    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d4d3d353;

}

.LateralD,
.LateralE {
    width: 124px;
    height: 99px;
    margin-top: 5em;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.516);
}

.img {
    display: flex;
    margin-top: -200px;
    gap: 4em;
}

.Centro {
    width: 170px;

    margin-bottom: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.516);

}

.jogadores {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 3em;
    gap: 22em;
}

.i_jogador1,
.i_jogador2 {
    width: 220px;
    height: 25px;
}

.l_jogador1,
.l_jogador2 {
    font-size: 20px;
    font-weight: bold;

}

.d,
.e {
    text-align: center;

}

button {
    position: fixed;
    background: #FCC331;
    position: absolute;
    width: 350px;
    height: 60px;
    margin-top: 400px;
    font-size: 23px;
    font-weight: bold;
    border: 0;
}

button:hover {
    background-color: #f4b61b;
    cursor: pointer;
}